# .npmrc
registry=https://registry.anpm.alibaba-inc.com
@alife:registry=https://registry.anpm.alibaba-inc.com
@ali:registry=https://registry.anpm.alibaba-inc.com
@ali-dayu:registry=https://registry-cnpm.dayu.work
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
progress=false

